@page
<link rel="stylesheet" href="~/css/music.css" />
<br />
<div class="row" id="Bytecoder">
    <div class="col-md-4 center-block text-center">
        <img src="~/images/bytecoder.jpg" class="img-album" alt="Bytecoder">
    </div>
    <div class="col-md-4">
        <h2>Bytecoder</h2>
        <p>Grabado en Electric Gandalf Studio, Lanús Oeste, en Agosto de 2018</p>
        <p>Matías Dieguez: Letras; Música; Voz; Sintetizadores; Guitarra eléctrica; Guitarra electroacústica 12 cuerdas; Bajo; Programación de baterías; Programación en SonicPI</p>
        <p>Código fuente en SonicPI - The Live Coding Music Synth: <a href="https://github.com/matiasdieguez/bytecoder">https://github.com/matiasdieguez/bytecoder</a></p>
        <br/>
        <br/>
        <h4>0001 - Blockchain</h4>
            <p>Toda moneda es sucia y falsa<br/>Por diversión de los lobbistas</p><p>Inmutable, inmutable<br/>Vencerá Blockchain</p><p>Antiguo dilema bizantino<br/>Con estos bits está resuelto</p><p>Inmutable, inmutable<br/>Vencerá Blockchain</p><p>Fin de las manipulaciones<br/>Y los sucios intermediarios</p><p>Inmutable, inmutable<br/>Vencerá Blockchain</p><p>Ya no hay banqueros ni presiones<br/>Solo contratos y consenso</p><p>Inmutable, inmutable<br/>Vencerá Blockchain</p>
        <h4>0010 - Timestamper</h4>
            <p>Timestamper viene, viene, viene, ahora firmás<br/>Timestamper viene, viene, viene, ahora firmás la verdad</p><p>Notario vas a desparecer<br/>Un algoritmo te reemplazará<br/>Como testigo inclaudicable, firmando veraz<br/>No pagarás por estampar la verdad</p><p>Timestamper viene, viene, viene, ahora firmás<br/>Timestamper viene, viene, viene, ahora firmás libertad</p><p>Ningún engaño podrá superar<br/>A la cadena de veracidad<br/>Como testigo inalcanzable, velando por paz<br/>No engañaras al timestamper jamas</p>
        <h4>0011 - Cryptomaster</h4>
            <p>Maestro de las llaves podrás<br/>Quitarle a estos felinos madeja<br/>Que sea el ataque final<br/>Llegó el momento tensión digital</p><p>Un Cryptomaster donará tus secretos<br/>Sabrán los males que nacieron de vos<br/>Un Cryptomaster gritará tus secretos<br/>Felíz el día que se encargue de vos</p><p>Viven con lujuria real<br/>Se van pasando cargos y elecciones<br/>Desde sus mansiones son tan<br/>Corruptos como las caras que ponen</p><p>Un Cryptomaster donará tus secretos<br/>Sabrán los males que nacieron de vos<br/>Un Cryptomaster gritará tus secretos<br/>Bendito el día que se encargue de vos</p>
        <h4>0100 - Satoshi</h4>
            <p>Anónimos o anónimo<br/>Génesis del bloque vital</p><p>Japonés es su nombre<br/>O tal vez él nunca existió<br/>Buscado por sus claves<br/>Guarda millones de bitcoins</p><p>Satoshi ríe minando<br/>Satoshi ríe minando</p><p>Anónimos o anónimo<br/>Génesis del bloque vital</p>
        <h4>0101 - Paladar Negro</h4>
            <p>Rojo es el rey<br/>De las hazañas<br/>Mas gloriosas<br/>Que existirán</p><p>Su paladar<br/>Paladar negro<br/>Como la noche<br/>De su rival</p><p>Su majestad<br/>Brazos en alto<br/>Vamos a verlo<br/>Intensidad</p><p>Sangre roja y paladar negro<br/>Sangre roja y paladar negro</p>
        <h4>0110 - Animalesco</h4>
            <p>Está presente el instinto animal<br/>Es la tendencia actual</p><p>Me puedo imaginar<br/>Que como un animal<br/>Respetarás tu instinto<br/>Ni un ser irracional<br/>Intentará dejar<br/>Su descendencia extinta</p><p>No está presente el instinto animal<br/>En la tendencia actual<br/>No está, no es tan animalesco, no animal</p><p>Intentas explicar<br/>En tu playground virtual<br/>Esa autocracia adicta<br/>Vos querés atentar<br/>Contra la ley primal<br/>Descartar niño y viejo</p><p>No está presente el instinto animal<br/>En la tendencia actual<br/>No está, no es tan animalesco, no animal</p><p>Esto te ubicó<br/>En un rincón moral<br/>Panteón filofascista<br/>Negando el alma de<br/>Negros, nativos y<br/>Aún no nacidos hijos</p><p>Hay que salvar el instinto animal<br/>Es la lección vital</p>
        <h4>0111 - Oráculo Rojo</h4>
            <p>Libertadores como nadie en la tierra<br/>Independiente para siempre en tus venas</p><p>Tu nombre es libertad y no lo olvidarás<br/>Lo llevaras donde sea que te vean<br/>Porque tu padre o un gran amigo fiel<br/>Puso en tu mente una misión verdadera</p><p>Romperás las cadenas<br/>Liberando tus venas<br/>Independiente para siempre en tus venas<br/>Independiente para siempre en tus venas</p><p>Tu nombre no es ingles, no es ninguna estación<br/>Y para siempre llevaras la bandera<br/>Del mejor pie y juego y del fuego también<br/>Para atraer la mística verdadera</p><p>Oráculo Rojo siempre supiste que<br/>Vencerías en la noche brasilera<br/>No solo una vez sino después también<br/>Para el que mundo y mis amigos lo vieran</p><p>Oráculo rojo conquistaras aun mas<br/>La tecno revolución también lideras<br/>Fuiste elegido al forjar en tu escudo<br/>Libertadores como nadie en la tierra</p><p>Libertadores como nadie en la tierra<br/>Independiente para siempre en tus venas</p>
        <h4>1000 - Bytecoder</h4>
            <p>En el tiempo que Bytecoder llegó<br/>Universo a cero el timpo volvió</p><p>Universo a uno<br/>Universo a cero</p><p>En el tiempo que Bytecoder llegó<br/>Universo a uno el timpo volvió'</p><p>Universo a cero<br/>Universo a uno</p>
        <h4>1001 - Keymaker</h4>
            <p>[Instrumental]</p>
        <h4>1010 - Extremo</h4>
            <p>Cómo pude encriptar<br/>Esta historia digital<br/>Uniendo visiones de<br/>Turing internacional</p><p>Extremo a extremo voy a conectar<br/>En el mismo momento y en todo lugar</p><p>También podes encriptar<br/>Todo el mundo irreal<br/>Voy a hacerles el favor<br/>De esta magia divulgar</p><p>Ya no saben detener<br/>El temido centro atrás<br/>Por eso van a formar<br/>Con extremo titular</p>

    </div>
    <div class="col-md-4">
        <h4>0001 - Blockchain</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Bytecoder/wav/Blockchain.wav" type="audio/wav">
            </audio>
        </p>
        <h4>0010 - Timestamper</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Bytecoder/wav/Timestamper.wav" type="audio/wav">
            </audio>
        </p>
        <h4>0011 - Cryptomaster</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Bytecoder/wav/Cryptomaster.wav" type="audio/wav">
            </audio>
        </p>
        <h4>0100 - Satoshi</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Bytecoder/wav/Satoshi.wav" type="audio/wav">
            </audio>
        </p>
        <h4>0101 - Paladar Negro</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Bytecoder/wav/Paladar%20Negro.wav" type="audio/wav">
            </audio>
        </p>
        <h4>0110 - Animalesco</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Bytecoder/wav/Animalesco.wav" type="audio/wav">
            </audio>
        </p>
        <h4>0111 - Oráculo Rojo</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Bytecoder/wav/Or%C3%A1culo%20Rojo.wav" type="audio/wav">
            </audio>
        </p>
        <h4>1000 - Bytecoder</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Bytecoder/wav/Bytecoder.wav" type="audio/wav">
            </audio>
        </p>
        <h4>1001 - Keymaker</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Bytecoder/wav/Keymaker.wav" type="audio/wav">
            </audio>
        </p>
        <h4>1010 - Extremo</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Bytecoder/wav/Extremo.wav" type="audio/wav">
            </audio>
        </p>
    </div>
</div>
<br />
@section Scripts
{
    <script src="~/js/music.js"></script>
}