@page
<link rel="stylesheet" href="~/css/music.css" />
<br />
<div class="row" id="Bytecoder">
    <div class="col-md-4 center-block text-center">
        <img src="~/images/bytecoder.jpg" class="img-album" alt="Bytecoder">
    </div>
    <div class="col-md-4">
        <h2>Bytecoder</h2>
        <p>Grabado en Electric Gandalf Studio, Lanús Oeste, en Agosto de 2018</p>
        <p>Matías Dieguez: Letras; Música; Voz; Sintetizadores; Guitarra eléctrica; Guitarra electroacústica 12 cuerdas; Bajo; Programación de baterías; Programación en SonicPI</p>
        <p>Código fuente en SonicPI - The Live Coding Music Synth: <a href="https://github.com/matiasdieguez/bytecoder">https://github.com/matiasdieguez/bytecoder</a></p>
    </div>
    <div class="col-md-4">
        <h4>0001 - Blockchain</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Bytecoder/wav/Blockchain.wav" type="audio/wav">
            </audio>
        </p>
        <h4>0010 - Timestamper</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Bytecoder/wav/Timestamper.wav" type="audio/wav">
            </audio>
        </p>
        <h4>0011 - Cryptomaster</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Bytecoder/wav/Cryptomaster.wav" type="audio/wav">
            </audio>
        </p>
        <h4>0100 - Satoshi</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Bytecoder/wav/Satoshi.wav" type="audio/wav">
            </audio>
        </p>
        <h4>0101 - Paladar Negro</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Bytecoder/wav/Paladar%20Negro.wav" type="audio/wav">
            </audio>
        </p>
        <h4>0110 - Animalesco</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Bytecoder/wav/Animalesco.wav" type="audio/wav">
            </audio>
        </p>
        <h4>0111 - Oráculo Rojo</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Bytecoder/wav/Or%C3%A1culo%20Rojo.wav" type="audio/wav">
            </audio>
        </p>
        <h4>1000 - Bytecoder</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Bytecoder/wav/Bytecoder.wav" type="audio/wav">
            </audio>
        </p>
        <h4>1001 - Keymaker</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Bytecoder/wav/Keymaker.wav" type="audio/wav">
            </audio>
        </p>
        <h4>1010 - Extremo</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Bytecoder/wav/Extremo.wav" type="audio/wav">
            </audio>
        </p>
    </div>
</div>
<br />
<div class="row" id="Album">
    <div class="col-md-4">
    </div>
</div>
<br />
@section Scripts
{
    <script src="~/js/music.js"></script>
}