@page

<h2>Contact</h2>

<address>
    Buenos Aires, Argentina<br />
</address>

<address>
    <strong>Personal:</strong> <a href="mailto:matiasdieguez@hotmail.com">matiasdieguez@hotmail.com</a><br />
    <strong>Work:</strong> <a href="mailto:matias.dieguez@tecnocode.net">matias.dieguez@tecnocode.net</a><br />
</address>
