@page
@model DocsModel
<div>
    <h1>Docs, Courses & Resources</h1>
    @foreach (var item in @Model.DocsPageFiles)
    {
        <a href="/DocsPage?path=@item.Name">@item.Name</a>
        <br />
    }
</div>