@page
@model DocsModel
<div class="row">
    <br />
    <h1>Wiki Index</h1>
    <br />
    @foreach (var item in @Model.DocsPageFiles)
    {
        <a href="/DocsPage?path=@item.Name">@item.Name</a>
        <br />
    }
    <br />
    <p>I use this fantastic <a href="https://www.nuget.org/packages/TagHelperSamples.Markdown">Markdown Tag Helper NuGet package</a> to format this wiki pages</p>
</div>