@page
@model EventsModel
<div>
    <div class="center-block text-center">
        <br />
        <h2>Events</h2>
        <br />
        <h4>Curso de Introducción a la Programación 2023 - Lanús Oeste, Argentina</h4>
        <p><a href="docspage?path=Curso-Introduccion-a-la-Programacion.md">Course info</a></p>
        <img src="~/images/curso-intro-programacion.png" class="img-responsive" style="max-width: 300px;" alt="Microsoft Build 2022">
        <br />
        <hr />
        <h4>Microsoft Build 2022 - Hilton Hotel - Buenos Aires, Argentina</h4>
        <p><a href="https://github.com/matiasdieguez/live-coding">Live coding repo</a></p>
        <img src="~/images/microsoft-build.png" class="img-responsive" style="max-width: 300px;" alt="Microsoft Build 2022">
        <br />
        <img src="~/images/live-coding.png" class="img-responsive"  style="max-width: 300px;" alt="Live coding">
        <br />
        <hr />
        <h4>NetConf v2017 - Montevideo, Uruguay</h4>
        <p><a href="https://github.com/matiasdieguez/netstandard-workshop">Workshop Repo</a></p>
        <img src="~/images/netconf-2017-1.png" class="img-responsive" alt="NetConf 2017 Bio">
        <img src="~/images/netconf-2017-2.png" class="img-responsive" alt="NetConf 2017 Workshop">
        <br />
        <hr />
        <h4>Tecnocode Cross Platform Meetup - Distrito Tecnológico, Buenos Aires, Argentina</h4>
        <p><a href="https://github.com/matiasdieguez/mispersonas-demo">Workshop Repo</a></p>
        <img src="~/images/tecnocode-ncpd-2017.png" class="img-responsive" alt="Native Cross Platform Development Meetup 2017">
    </div>
</div>
