@page
@model EventsModel
<div class="row">
    <div class="center-block text-center">
        <br />
        <h2>Events</h2>
        <br />
        <h4>NetConf v2017 - Montevideo, Uruguay</h4>
        <p><a href="https://github.com/matiasdieguez/netstandard-workshop">Workshop Repo</a></p>
        <img src="~/images/netconf-2017-1.png" class="img-responsive" alt="NetConf 2017 Bio">
        <img src="~/images/netconf-2017-2.png" class="img-responsive" alt="NetConf 2017 Workshop">
        <br />
        <h4>Net Conf Global</h4>
        <p><a href="http://netconf.global/en/Speakers/">Speakers</a></p>
        <br />
        <h4>Tecnocode Cross Platform Meetup - Distrito Tecnológico, Buenos Aires, Argentina</h4>
        <p><a href="https://github.com/matiasdieguez/mispersonas-demo">Workshop Repo</a></p>
        <img src="~/images/tecnocode-ncpd-2017.png" class="img-responsive" alt="Native Cross Platform Development Meetup 2017">
    </div>
</div>
