@page
<link rel="stylesheet" href="~/css/music.css" />
<br />
<div class="row" id="HijosDelTrueno">
    <div class="col-md-4 center-block text-center">
        <img src="~/images/hijosdeltrueno.png" class="img-album" alt="Hijos del Trueno">
    </div>
    <div class="col-md-4">
        <h2>Hijos del Trueno</h2>
        <p>Grabado en el Seminario Menor Santiago de Compostela, España y Electric Gandalf Studio, Lanús Oeste, Argentina</p>
        <p>Matías Dieguez: Letras; Música; Voz; Sintetizadores; Guitarra eléctrica; Programación de baterías</p>
    </div>
    <div class="col-md-4">
        <h4>1 - Espacio y Tiempo</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Tiempoespacial/wav/Tiempoespacial%20-%20I%20-%20Espacio%20y%20tiempo.wav" type="audio/wav">
            </audio>
        </p>
        <h4>2 - La Nave Plateada</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Tiempoespacial/wav/Tiempoespacial%20-%20II%20-%20La%20nave%20plateada.wav" type="audio/wav">
            </audio>
        </p>
        <h4>3 - Crónicas de la Luna Roja</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Tiempoespacial/wav/Tiempoespacial%20-%20III%20-%20Cronicas%20de%20la%20Luna%20Roja.wav" type="audio/wav">
            </audio>
        </p>
        <h4>4 - Regreso al Espacio y Tiempo</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Tiempoespacial/wav/Tiempoespacial%20-%20IV%20-%20Regreso%20al%20Espacio%20y%20Tiempo.wav" type="audio/wav">
            </audio>
        </p>
    </div>
</div>
<br />
<div class="row" id="Album">
    <div class="col-md-4">
    </div>
</div>
<br />
@section Scripts
{
    <script src="~/js/music.js"></script>
}