@page
@model IndexModel
<div class="row">
    <div class="center-block text-center">
        <br />
        <img src="~/images/md.jpg" class="img-circle" alt="Matías Dieguez">
        <h1>Carlos Matías Dieguez</h2>
        <h2>I build software 💻❤️</h4>
        <br />
        <p>Check my <a href="~/skills">skills</a>, <a href="~/live">music</a> and <a href="~/events">events</a></p>
        <br />
        <p>My <a href="https://github.com/matiasdieguez">GitHub</a> profile</p>
        <p>My <a href="https://www.linkedin.com/in/carlos-matias-dieguez">LinkedIn</a> profile</p>
        <p>My <a rel="me" href="https://techhub.social/@@dieguezrojo">Mastodon</a> profile</p>   
    </div>
</div>
<div class="row">
    <div class="center-block text-center">
    </div>
</div>