@page
@model IndexModel
<div class="row">
    <div class="center-block text-center">
        <br />
        <img src="~/images/md.jpg" class="img-circle" alt="Matías Dieguez">
        <h2>Carlos Matías Dieguez</h2>
        <h4>Software Architect</h4>
        <br />
        <p>My <a href="https://github.com/matiasdieguez">GitHub</a> profile</p>
        <p>I work at <a href="http://www.tecnocode.net">Tecnocode S.A.</a></p>
        <p>My <a href="https://www.linkedin.com/in/matiasdieguez">LinkedIn</a> profile</p>
        <p>My <a href="https://twitter.com/dieguezrojo">Twitter</a> profile</p>
        <p>My <a rel="me" href="https://techhub.social/@dieguezrojo">Mastodon</a> profile</p>   
    </div>
</div>
<div class="row">
    <div class="center-block text-center">
    </div>
</div>