@page
<link rel="stylesheet" href="~/css/music.css" />
<br />
<div class="row" id="Bytecoder">
    <div class="col-md-4 center-block text-center">
        <img src="~/images/live.jpg" class="img-album" alt="Live Coding Sessions">
    </div>
    <div class="col-md-4">
        <h2>Live Coding Music Sessions</h2>
        <p>Source code <a href="https://github.com/matiasdieguez/live-coding">https://github.com/matiasdieguez/live-coding</a></p>
        <br/>
    </div>
    <div class="col-md-4">
        <h4>0001 - Sundown</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/data/live/matias-dieguez-live-coding-sundown.mp3" type="audio/mp3">
            </audio>
        </p>
        <h4>0010 - Liven up reggae</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/data/live/matias-dieguez-live-coding-liven-up.mp3" type="audio/mp3">
            </audio>
        </p>
        <h4>0011 - The Audio Manifest</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/data/live/matias-dieguez-live-coding-the-audio-manifest.mp3" type="audio/mp3">
            </audio>
        </p>
        <h4>0100 - Micro Sound Rising</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/data/live/matias-dieguez-live-coding-micro-sound-rising.mp3" type="audio/mp3">
            </audio>
        </p>
        <h4>0101 - So many birds on streaming</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/data/live/So_many_birds_on_streaming.mp3" type="audio/mp3">
            </audio>
        </p>
        <h4>0110 - Arrival Of The Alien Sounds</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/data/live/Arrival_Of_The_Alien_Sounds.mp3" type="audio/mp3">
            </audio>
        </p>
        <h4>0111 - One Day To The Fusion.mp3</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/data/live/One_Day_To_The_Fusion.mp3" type="audio/mp3">
            </audio>
        </p>
        <h4>1000 - Random_Infinity.mp3</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/data/live/Random_Infinity.mp3" type="audio/mp3">
            </audio>
        </p>
        <h4>1001 - The Dimension Where Your Song Should Be</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/data/live/The_Dimension_Where_Your_Song_Should_Be.mp3" type="audio/mp3">
            </audio>
        </p>
        <h4>1010 - The Key To The Universal Language</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/data/live/The_Key_To_The_Universal_Language.mp3" type="audio/mp3">
            </audio>
        </p>
        <h4>1011 - The Next Side</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/data/live/The_Next_Side.mp3" type="audio/mp3">
            </audio>
        </p>
        <h4>1100 - The Waves</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/data/live/The_Waves.mp3" type="audio/mp3">
            </audio>
        </p>
    </div>
</div>
<br />
@section Scripts
{
    <script src="~/js/music.js"></script>
}
