@page
<link rel="stylesheet" href="~/css/music.css" />
<br />
<div class="row" id="Bytecoder">
    <div class="col-md-4 center-block text-center">
        <img src="~/images/live.jpg" class="img-album" alt="Live Coding Sessions">
    </div>
    <div class="col-md-4">
        <h2>Live Coding Music Sessions</h2>
        <p>Recorded in Electric Gdalf Studio, Lanús Oeste, May 2022</p>
        <p>Matías Dieguez: Lyrics in 2 & 5, Music, Vox, Electric Guitar, Live Coding in Sonic Pi, Live Coding in Visual Studio Code</p>
        <p>Source code <a href="https://github.com/matiasdieguez/live-coding">https://github.com/matiasdieguez/live-coding</a></p>
        <br/>
        <video width="320" height="240"  controls>
            <source src="https://matiasdieguez.azurewebsites.net/data/live/sundown.mp4" type="video/mp4">
        </video>
        <br/>
        <video width="320" height="240"  controls>
            <source src="https://matiasdieguez.azurewebsites.net/data/live/liven-up-reggae.mp4" type="video/mp4">
        </video>
        <br/>
        <video width="320" height="240"  controls>
            <source src="https://matiasdieguez.azurewebsites.net/data/live/micro-sound-rising.mp4" type="video/mp4">
        </video>
        <br/>
        <h4>0001 - Sundown</h4>
            <p>[Instrumental]</p>
        <h4>0010 - Liven up reggae</h4>
          <p>Liven up for more<br/>Liven up for more<br/>Liven up for more<br/>Liven up! for! more!<br/>Liven up for more<br/></p>
          <p>You can go for more<br/>You can go for more<br/>Liven up for more<br/>You can go! for! more!<br/>Liven up for more<br/></p>
        <h4>0011 - House of the rising sun</h4>
          <p>There is a house down New Orleans<br/>they call the Rising Sun<br/>And it's been the ruin of many a poor boy</br>and God, you know, I'm one</p>
          <p>Mother was a tailor<br/>she sewed my old blue jeans<br/>Father... was a gambling man...</br>down in New Orleans</p>
          <p>Mother tell your children<br/>not to do what I have done<br/>Don't spend your lives in sin and misery</br>At the House of the Rising Sun</p>
        <h4>0100 - John the Revelator</h4>
          <p>Tell me who is writing, Jonh the Revelator<br/>Tell me who is writing, Jonh the Revelator<br/>Tell me who is writing, Jonh the Revelator<br/>Wrote the Book of the Seven Seals</p>
          <p>Tell me who is coding, Carlo the Beatus<br/>Tell me who is coding, Carlo the Beatus<br/>Tell me who is coding, Carlo the Beatus<br/>Wrote the site of the miracles</p>
        <h4>0101 - Aves en streaming</h4>
          <p>Con tantas aves que hay en streaming<br/>muchas historias tejen sus redes<br/></p>
          <p>Con tantas aves que hay en streaming<br/>muchas historias tejen sus redes<br/></p>
          <p>Nos refugiamos en nido virtual<br/>en esta epidemia de virus mundial<br/>En nido virtual<br/>En nido virtual<br/></p>
    </div>
    <div class="col-md-4">
        <h4>0001 - Sundown</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/data/live/matias-dieguez-live-coding-sundown.mp3" type="audio/mp3">
            </audio>
        </p>
        <h4>0010 - Liven up reggae</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/data/live/matias-dieguez-live-coding-liven-up-reggae.mp3" type="audio/mp3">
            </audio>
        </p>
        <h4>0011 - House of the rising sun</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/data/live/matias-dieguez-live-coding-house-of-the-raising-sun.mp3" type="audio/mp3">
            </audio>
        </p>
        <h4>0100 - John the revelator</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/data/live/matias-dieguez-live-coding-john-the-revelator.mp3" type="audio/mp3">
            </audio>
        </p>
        <h4>0101 - Aves en streaming</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/data/live/matias-dieguez-live-coding-aves-en-streaming.mp3" type="audio/mp3">
            </audio>
        </p>
    </div>
</div>
<br />
@section Scripts
{
    <script src="~/js/music.js"></script>
}
