@page
@model MusicModel
<link rel="stylesheet" href="~/css/music.css" />
<br />
<div class="row" id="Tiempoespacial">
    <div class="col-md-4 center-block text-center">
        <h3>2014</h3>
        <a href="/Tiempoespacial">
            <img src="~/images/tiempoespacial.png" class="img-album" alt="Tiempoespacial">
        </a>
        <br />
        <a href="/Tiempoespacial">Listen & download</a>
        <br />
        <a href="https://open.spotify.com/album/2yinJTtK59badcoV2Fa3w1" target="_blank">Spotify</a>
        <a href="https://play.google.com/music/m/Bwnfydtxi6v6wmqbpnjrlcjzefa?play=1" target="_blank">Google Music</a>
    </div>
    <div class="col-md-4 center-block text-center">
        <h3>2018</h3>
        <a href="/Bytecoder">
            <img src="~/images/bytecoder.jpg" class="img-album" alt="Bytecoder">
        </a>
        <br />
        <a href="/Bytecoder">Listen & download</a>
        <br />
        <a href="https://open.spotify.com/album/2HNS1DT525m609mQlesSuH" target="_blank">Spotify</a>
        <a href="https://play.google.com/music/m/B3qzhwljkqefgz2pm4lrcaesph4?play=1" target="_blank">Google Music</a>
    </div>
    <div class="col-md-4 center-block text-center">
        <h3>2019</h3>
        <a href="/VisionesYMitos">
            <img src="~/images/visiones_y_mitos.jpg" class="img-album" alt="Visiones y Mitos">
        </a>
        <br />
        <a href="/VisionesYMitos">Listen & download</a>
        <br />
        <a href="https://open.spotify.com/album/2IwfJmwXDVGgXeHEJ24Fri?autoplay=true&v=L" target="_blank">Spotify</a>
        <a href="https://play.google.com/music/m/Brcmhqotomnellz6taymowzmn3y?play=1" target="_blank">Google Music</a>
    </div>
</div>
<br />
