@page
@model ProjectsModel
<div class="row" id="Kriptal">
    <div class="center-block text-center">
        <h2>Projects</h2>
        <br />
        <h2>Kriptal</h2>
        <img src="~/images/kriptal.png" class="img-circle" alt="Kriptal">
        <h4>Open source, serverless, end-to-end encryption mobile app</h4>
        <p>The project's goal is to make a native cross platform mobile app that encrypts with</p>
        <br />
        <p>Get the Android Beta App! <a href="http://kriptal.org">http://kriptal.org</a> Note: it's not in Play Store yet, to install you must allow third party origins</p>
        <p>Contribute in this Open Source Project Repo: <a href="https://github.com/matiasdieguez/kriptal">https://github.com/matiasdieguez/kriptal</a></p>
        <p>Paper: <a href="https://drive.google.com/open?id=152NHUOR-9XOqff4ooQoikKf78LHWBZ2Nr0hBpdQyTWg">https://drive.google.com/open?id=152NHUOR-9XOqff4ooQoikKf78LHWBZ2Nr0hBpdQyTWg</a></p>
    </div>
</div>
<div class="row" id="Imagnr">
    <div class="center-block text-center">
        <br />
        <h2>Imagnr</h2>
        <img src="~/images/imagnr.png" class="img-circle" alt="Imagnr">
        <h4>Imagnr is a Image Tags Cognitive Recognizer</h4>
        <p>Using AI from Azure Cognitive Services, this project is a library to make cognitive text tag search in a Computer Vision OCR result. Uses Levenshtein distance algorithm over condensed OCR text to calculate similarity of tags</p>
        <br />
        <p>Get the NuGet package! <a href="https://www.nuget.org/packages/Imagnr/">https://www.nuget.org/packages/Imagnr/</a></p>
        <p>Contribute in this Open Source Project Repo: <a href="https://github.com/matiasdieguez/imagnr">https://github.com/matiasdieguez/imagnr</a></p>
        <p>Paper: <a href="#Imagnr">(work in progress..)</a></p>
    </div>
</div>