@page
@model ProjectsModel
<div class="row" id="Kriptal">
    <div class="center-block text-center">
        <h2>Projects</h2>
        <br />
        <h2>Kriptal</h2>
        <img src="~/images/kriptal.png" class="img-circle" alt="Kriptal">
        <h4>Open source, serverless, blockhain stamped, end-to-end encryption mobile app</h4>
        <p>The project's goal is to make a native cross platform mobile app that encrypts with end-to-end protection, witout the intervention of any server</p>
        <br />
        <p>Get the Android Beta App! <a href="http://kriptal.org">http://kriptal.org</a> Note: it's not in Play Store yet, to install you must allow third party origins</p>
        <p>Contribute in this Open Source Project Repo: <a href="https://github.com/matiasdieguez/kriptal">https://github.com/matiasdieguez/kriptal</a></p>
        <p>Paper: <a href="https://drive.google.com/file/d/1LHwfGiHaq2kAnHy5e5hRZRdk-GWc1z6F/view?usp=sharing">Kriptal: Open source, serverless, end-to-end encryption mobile app</a></p>
    </div>
</div>
<div class="row" id="StamperySharp">
    <div class="center-block text-center">
        <br />
        <h2>StamperySharp</h2>
        <img src="~/images/stamperysharp.png" class="img-circle" alt="StamperySharp">
        <h4>StamperySharp is a C# Client for Stampery API</h4>
        <p>This .NET Standard library provides access to a Stampery's blockchain-powered, industrial-scale timestamping and certification platform.</p>
        <br />
        <p>Get the NuGet package! <a href="https://www.nuget.org/packages/StamperySharp/">https://www.nuget.org/packages/StamperySharp/</a></p>
        <p>Contribute in this Open Source Project Repo: <a href="https://github.com/matiasdieguez/stampery-sharp">https://github.com/matiasdieguez/stampery-sharp</a></p>
    </div>
</div>
<div class="row" id="Imagnr">
    <div class="center-block text-center">
        <br />
        <h2>Imagnr</h2>
        <img src="~/images/imagnr.png" class="img-circle" alt="Imagnr">
        <h4>Imagnr is a Image Tags Cognitive Recognizer</h4>
        <p>Using AI from Azure Cognitive Services, this project is a library to make cognitive text tag search in a Computer Vision OCR result. Uses Levenshtein distance algorithm over condensed OCR text to calculate similarity of tags</p>
        <br />
        <p>Get the NuGet package! <a href="https://www.nuget.org/packages/Imagnr/">https://www.nuget.org/packages/Imagnr/</a></p>
        <p>Contribute in this Open Source Project Repo: <a href="https://github.com/matiasdieguez/imagnr">https://github.com/matiasdieguez/imagnr</a></p>
        <p>Paper: <a href="#Imagnr">(work in progress..)</a></p>
    </div>
</div>
<div class="row" id="DieguezImmigration">
    <div class="center-block text-center">
        <br />
        <h2>Dieguez Immigration</h2>
        <img src="~/images/dieguez.png" class="img-circle" alt="Dieguez">
        <h4>List of Dieguez Immigration to Argentina from <a href="https://cemla.com/buscador/" target="_blank">CEMLA records</a></h4>
        <br />
        <a href="/DieguezArgentinaImmigrations">View Dieguez Immigration List</a>
        <br />
        <a href="/Data/dieguez.json">Download Dieguez Immigration json</a>
        <br />
        <a href="/images/ArmorialReinoDeGalicia.png">Apellido Dieguez en Armorial del Reino de Galicia</a>
        <br />
        <a href="/Data/Armorial_del_Reino_de_Galicia_Blasones.pdf">Download Armorial del Reino de Galicia PDF</a>
        <br />
        <a href="/Data/Apellido_Dieguez.pdf">Apellido Dieguez en el blog de Eulogio Diéguez</a>
    </div>
</div>