@page
<div class="row">
    <div class="center-block text-center">
        <br />
        <h2>Education</h2>
        <br />
    </div>
</div>
<div class="row center-block">
    <div class="col-md-6 text-center">
        <img src="~/images/logo-utn.jpg" class="img-responsive img-sm" alt="UTN">
        <h4>Técnico Superior en Programación</h4>
        <h5>Universidad Tecnológica Nacional</h5>
        <h5>Facultad Regional Avellaneda</h5>
        <h5>Buenos Aires, Argentina</h5>
    </div>
    <div class="col-md-6  text-center">
        <div class="row center-block">
            <div class="col-sm-6">
                <img src="~/images/universidadnebrija.jpg" class="img-responsive img-sm" alt="Master">
            </div>
            <div class="col-sm-6">
                <img src="~/images/logo-master.png" class="img-responsive img-sm" alt="Master">
            </div>
        </div>
        <h4>Master en Arquitectura de Software (in progress)</h4>
        <h5>Centro de Estudios de Posgrado Euroinnova Formación</h5>
        <h5>Universidad Nebrija</h5>
        <h5>Madrid, España</h5>
    </div>
</div>

<div class="row center-block  text-center">
    <div class="col-md-6">
        <img src="~/images/logo-eet2.jpg" class="img-responsive img-sm" alt="EET2">
        <h4>Técnico en Informática Personal y Profesional</h4>
        <h5>Escuela de Educación Técnica Nº 2</h5>
        <h5>Lomas de Zamora</h5>
        <h5>Buenos Aires, Argentina</h5>
    </div>
    <div class="col-md-6">
        <img src="~/images/logo-eet2.jpg" class="img-responsive img-sm" alt="EET2">
        <h4>Bachiller en Producción de Bienes y Servicios</h4>
        <h5>Escuela de Educación Técnica Nº 2</h5>
        <h5>Lomas de Zamora</h5>
        <h5>Buenos Aires, Argentina</h5>
    </div>
</div>

<div class="row">
    <div class="center-block text-center">
        <br />
        <h2>Technologies I use</h2>
        <br />
    </div>
</div>
<div class="row center-block">
    <div class="col-md-4">
        <img src="~/images/logo-puntonet.png" class="img-responsive img-sm" alt="Dot Net">
    </div>
    <div class="col-md-4">
        <img src="~/images/logo-azure.png" class="img-responsive img-sm" alt="Azure">
    </div>
    <div class="col-md-4">
        <img src="~/images/logo-vs.png" class="img-responsive img-sm" alt="Visual Studio">
    </div>
</div>

<div class="row center-block">
    <div class="col-md-4">
        <img src="~/images/logo-html.png" class="img-responsive img-sm" alt="HTML, CSS, JS">
    </div>
    <div class="col-md-4">
        <img src="~/images/logo-android.png" class="img-responsive img-sm" alt="Android">
    </div>
    <div class="col-md-4">
        <img src="~/images/logo-ios.png" class="img-responsive img-sm" alt="iOS">
    </div>
</div>

<div class="row center-block">
    <div class="col-md-4">
        <img src="~/images/logo-sql.png" class="img-responsive img-sm" alt="SQL Server">
    </div>
    <div class="col-md-4">
        <img src="~/images/logo-xamarin.png" class="img-responsive img-sm" alt="Xamarin">
    </div>
    <div class="col-md-4">
        <img src="~/images/logo-linux.png" class="img-responsive img-sm" alt="Linux">
    </div>
</div>

<div class="row">
    <div class="center-block text-center">
        <br />
        <h2>Certifications &amp; Courses</h2>
        <br />
        <p>View my <a href="https://www.youracclaim.com/users/carlos-m-dieguez">Acclaim</a> profile</p>
        <p>View my <a href="https://www.scrumalliance.org/community/profile/mdi9guez">Scrum Alliance</a> profile</p>
        <br />
    </div>
</div>

<div class="row center-block">
    <div class="col-md-4">
        <img src="~/images/csm.png" class="img-responsive img-sm" alt="MCP">
    </div>
    <div class="col-md-4">
        <img src="~/images/mcp-01.png" class="img-responsive img-sm" alt="MCP">
    </div>
    <div class="col-md-4">
        <img src="~/images/mcp-02.png" class="img-responsive img-sm" alt="MCP">
    </div>
</div>

<div class="row center-block">
    <div class="col-md-4">
        <img src="~/images/mcp-03.png" class="img-responsive img-sm" alt="MCP">
    </div>
    <div class="col-md-4">
        <img src="~/images/mcp-04.png" class="img-responsive img-sm" alt="MCP">
    </div>
    <div class="col-md-4">
        <img src="~/images/mcp-05.png" class="img-responsive img-sm" alt="MCP">
    </div>
</div>
<div class="row center-block">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <img src="~/images/mcp.png" class="img-responsive img-sm" alt="MCP">
    </div>
    <div class="col-md-4">
    </div>
</div>
