@page
<link rel="stylesheet" href="~/css/music.css" />
<br />
<div class="row" id="Tiempoespacial">
    <div class="col-md-4 center-block text-center">
        <img src="~/images/tiempoespacial.png" class="img-album" alt="Tiempoespacial">
    </div>
    <div class="col-md-4">
        <h2>Tiempoespacial</h2>
        <p>Diseño gráfico: Fernando Dieguez</p>
        <p>Grabado en Lomas de Zamora entre Mayo de 2013 y Abril de 2014</p>            
        <p>Remasterizado en 2019 en Electric Gandalf Studio</p>
        <p>Matías Dieguez: Letras; Música; Voz; Sintetizadores; Guitarra eléctrica; Guitarra electroacústica 12 cuerdas; Mandolina; Bajo; Programación de baterías; Programación de percusión</p>
    </div>
    <div class="col-md-4">
        <h4>1 - Espacio y Tiempo</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Tiempoespacial/wav/Tiempoespacial%20-%20I%20-%20Espacio%20y%20tiempo.wav" type="audio/wav">
            </audio>
        </p>
        <h4>2 - La Nave Plateada</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Tiempoespacial/wav/Tiempoespacial%20-%20II%20-%20La%20nave%20plateada.wav" type="audio/wav">
            </audio>
        </p>
        <h4>3 - Crónicas de la Luna Roja</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Tiempoespacial/wav/Tiempoespacial%20-%20III%20-%20Cronicas%20de%20la%20Luna%20Roja.wav" type="audio/wav">
            </audio>
        </p>
        <h4>4 - Regreso al Espacio y Tiempo</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Tiempoespacial/wav/Tiempoespacial%20-%20IV%20-%20Regreso%20al%20Espacio%20y%20Tiempo.wav" type="audio/wav">
            </audio>
        </p>
    </div>
</div>
<br />
<div class="row" id="Album">
    <div class="col-md-4">
    </div>
</div>
<br />
@section Scripts
{
    <script src="~/js/music.js"></script>
}