@page
<link rel="stylesheet" href="~/css/music.css" />
<br />
<div class="row" id="Tiempoespacial">
    <div class="col-md-4 center-block text-center">
        <img src="~/images/tiempoespacial.png" class="img-album" alt="Tiempoespacial">
    </div>
    <div class="col-md-4">
        <h2>Tiempoespacial</h2>
        <p>Diseño gráfico: Fernando Dieguez</p>
        <p>Grabado en Lomas de Zamora entre Mayo de 2013 y Abril de 2014</p>            
        <p>Remasterizado en 2019 en Electric Gandalf Studio</p>
        <p>Matías Dieguez: Letras; Música; Voz; Sintetizadores; Guitarra eléctrica; Guitarra electroacústica 12 cuerdas; Mandolina; Bajo; Programación de baterías; Programación de percusión</p>
        <br />
        <br />
        <h4>1 - Espacio y Tiempo</h4>
            <p>Un destello, un instante<br/>Una estrella que miraste</p><p>Así nació el tiempo<br/>Así nació distante</p><p>Un espacio tan brillante<br/>Tan ligado a ese instante</p><p>Aquí nació el tiempo<br/>Así nació distante</p>
        <h4>2 - La Nave Plateada</h4>
            <p>Curvan el espacio<br/>Naves plateadas<br/>Curvan el espacio<br/>Naves aladas</p><p>La simetría del mundo solar<br/>Sus dimensiones pueden controlar<br/>En las visiones de antiguos están<br/>Atravesando el tiempo sin fin</p><p>Curvan el espacio<br/>Naves plateadas<br/>Curvan el espacio<br/>Naves doradas</p><p>Vas a girar la galaxia al revés<br/>Las nubes se abren al brazo espiral<br/>En la visión del abismo sin fin<br/>Viento solar que transporta el metal</p><p>Curvan el espacio<br/>Naves plateadas<br/>Curvan el espacio<br/>Naves aladas</p><p>La simetría del mundo solar<br/>Sus dimensiones pueden controlar<br/>En las visiones de antiguos están<br/>Atravesando el tiempo sin fin</p>
        <h4>3 - Crónicas de la Luna Roja</h4>
            <p>La sombra empezó<br/>Surgiendo en la noche<br/>Pronta derramó su luz en la luna<br/>Plateada cambió por fuego sus venas<br/>Eclipse volvió de sangre su lema</p><p>Su luz brilló roja en la noche<br/>Su luz brilló roja en la arena</p><p>Reflejo lunar teñido de rojo<br/>Su fase mostró completa a la tierra<br/>Los locos al fin como una manada<br/>Inventan ficción de supersticiones</p><p>Su luz brilló roja en la noche<br/>Su luz brilló roja en la arena</p><p>La danza bailó cumpliendo su ciclo<br/>Historias contó crecientes al ritmo<br/>Esto sucedió en una vigilia<br/>Y se repitió por miles de siglos</p><p>Su luz brilló roja en la noche<br/>Su luz brilló roja en la arena</p>
        <h4>4 - Regreso al Espacio y Tiempo</h4>
            <p>[Instrumental]</p>
    </div>
    <div class="col-md-4">
        <h4>1 - Espacio y Tiempo</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Tiempoespacial/wav/Tiempoespacial%20-%20I%20-%20Espacio%20y%20tiempo.wav" type="audio/wav">
            </audio>
        </p>
        <h4>2 - La Nave Plateada</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Tiempoespacial/wav/Tiempoespacial%20-%20II%20-%20La%20nave%20plateada.wav" type="audio/wav">
            </audio>
        </p>
        <h4>3 - Crónicas de la Luna Roja</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Tiempoespacial/wav/Tiempoespacial%20-%20III%20-%20Cronicas%20de%20la%20Luna%20Roja.wav" type="audio/wav">
            </audio>
        </p>
        <h4>4 - Regreso al Espacio y Tiempo</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/Tiempoespacial/wav/Tiempoespacial%20-%20IV%20-%20Regreso%20al%20Espacio%20y%20Tiempo.wav" type="audio/wav">
            </audio>
        </p>
    </div>
</div>
<br />
@section Scripts
{
    <script src="~/js/music.js"></script>
}