@page
<link rel="stylesheet" href="~/css/music.css" />
<br />
<div class="row" id="VisionesYMitos">
    <div class="col-md-4 center-block text-center">
        <img src="~/images/visiones_y_mitos.jpg" class="img-album" alt="Visiones y Mitos">
    </div>
    <div class="col-md-4">
        <h2>Visiones y Mitos</h2>
        <p>Grabado en Electric Gandalf Studio, Lanús Oeste, en Marzo de 2019</p>
        <p>Matías Dieguez: Letras; Música; Voz; Sintetizadores; Guitarra eléctrica; Guitarra electroacústica 12 cuerdas; Bajo; Programación de baterías</p>
    </div>
    <div class="col-md-4">
        <h4>01 - Fábula De La Suerte Y El Azar</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/VisionesYMitos/wav/F%C3%A1bula%20De%20La%20Suerte%20Y%20El%20Azar.wav" type="audio/wav">
            </audio>
        </p>
        <h4>02 - Águilas De Las Tres Edades</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/VisionesYMitos/wav/%C3%81guilas%20De%20Las%20Tres%20Edades.wav" type="audio/wav">
            </audio>
        </p>
        <h4>03 - Mientras Sus Alas Extienden, Las Aves Te Ven</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/VisionesYMitos/wav/Mientras%20Sus%20Alas%20Extienden%2C%20Las%20Aves%20Te%20Ven.wav" type="audio/wav">
            </audio>
        </p>
        <h4>04 - Mito De Los Fuegos De San Telmo</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/VisionesYMitos/wav/Mito%20De%20Los%20Fuegos%20De%20San%20Telmo.wav" type="audio/wav">
            </audio>
        </p>
        <h4>05 - Blues Del Puente Viejo</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/VisionesYMitos/wav/Blues%20Del%20Puente%20Viejo.wav" type="audio/wav">
            </audio>
        </p>
        <h4>06 - Mito De La Payada</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/VisionesYMitos/wav/Mito%20De%20La%20Payada.wav" type="audio/wav">
            </audio>
        </p>
        <h4>07 - Blues Del Bar Espectral</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/VisionesYMitos/wav/Blues%20Del%20Bar%20Espectral.wav" type="audio/wav">
            </audio>
        </p>
        <h4>08 - Blues De Las Vias</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/VisionesYMitos/wav/Blues%20De%20Las%20Vias.wav" type="audio/wav">
            </audio>
        </p>
        <h4>09 - Visiones Fugaces</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/VisionesYMitos/wav/Visiones%20Fugaces.wav" type="audio/wav">
            </audio>
        </p>
        <h4>10 - Un Mito Y Todos Los Mitos</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/VisionesYMitos/wav/Un%20Mito%20Y%20Todos%20Los%20Mitos.wav" type="audio/wav">
            </audio>
        </p>
    </div>
</div>
<br />
<div class="row" id="Album">
    <div class="col-md-4">
    </div>
</div>
<br />
@section Scripts
{
    <script src="~/js/music.js"></script>
}