@page
<link rel="stylesheet" href="~/css/music.css" />
<br />
<div class="row" id="VisionesYMitos">
    <div class="col-md-4 center-block text-center">
        <img src="~/images/visiones_y_mitos.jpg" class="img-album" alt="Visiones y Mitos">
    </div>
    <div class="col-md-4">
        <h2>Visiones y Mitos</h2>
        <p>Grabado en Electric Gandalf Studio, Lanús Oeste, en Marzo de 2019</p>
        <p>Matías Dieguez: Letras; Música; Voz; Sintetizadores; Guitarra eléctrica; Guitarra electroacústica 12 cuerdas; Bajo; Programación de baterías</p>
        <br />
        <br />
        <h4>01 - Fábula De La Suerte Y El Azar</h4>
            <p>Golpe de suerte<br/>Los dados no pueden fallar<br/>¿Y quién es el mas fuerte?<br/>¿Es el destino o el azar?<br/>Yo voy a demostrarte<br/>Porqué es mejor tener un plan</p><p>Estás apostando<br/>Esas monedas que se van<br/>¿Y quién está ganando?<br/>¿Es la mentira o el rival?<br/>Yo voy a demostrarte<br/>Porqué es mejor tener un plan</p><p>Un golpe de suerte te puede fallar<br/>De golpe la suerte se puede acabar<br/>Un golpe de suerte se puede arruinar<br/>De golpe la suerte se puede acabar<br/>Yo voy a demostrarte<br/>Porqué es mejor tener un plan</p>        
        <h4>02 - Águilas De Las Tres Edades</h4>
            <p>[Instrumental]</p>
        <h4>03 - Mientras Sus Alas Extienden, Las Aves Te Ven</h4>
            <p>Una emboscada, están tendiéndote<br/>Una emboscada, están tendiéndote<br/>Una emboscada, están tendiéndote<br/>Una emboscada, están tendiéndote<br/>Entre las sombras escucho<br/>Su farsa tejer</p><p>Humo que respiran, intoxicándote<br/>Uno que lastima, sigo advirtiéndote<br/>Cielos fugaces, en un estado gris<br/>Cielos fugaces, están cayendose<br/>Mientras sus alas extienden<br/>Las aves te ven</p>
        <h4>04 - Mito De Los Fuegos De San Telmo</h4>
            <p>Los Fuegos de San Telmo<br/>Vinieron a mí<br/>Su rabia y su risa<br/>Fundieron así</p><p>Ojos que ven, ojos que queman<br/>Ojos así, ven tu conciencia<br/>Ojos que ven, ojos que queman<br/>Ojos así, ven tu conciencia</p><p>Hay fuegos en la mente<br/>Ardiendo en sí<br/>Estrellas en la noche<br/>Vinieron a mí</p><p>Ojos que ven, ojos que queman<br/>Ojos así, ven tu conciencia<br/>Ojos que ven, ojos que queman<br/>Ojos así, ven tu conciencia</p><p>¡Los Fuegos de San Telmo!<br/>¡Los Fuegos de San Telmo!<br/>¡Los Fuegos de San Telmo!<br/>¡Los Fuegos de San Telmo!</p>
        <h4>05 - Blues Del Puente Viejo</h4>
            <p>Puente viejo, nadie ha vuelto a pasar<br/>Puente viejo, nadie ha vuelto a pasar<br/>Por las vías oxidadas<br/>Hoy intentaré cruzar</p><p>Sobre el río, solo el viento oye silvar<br/>Sobre el río, solo el viento oye silvar<br/>Olvidado por el tiempo<br/>Su camino hoy está</p><p>Por las noches, se refugia en el lugar<br/>Por las noches, se refugia en el lugar<br/>Una banda de ladridos<br/>Que escapó de la ciudad</p><p>Puente viejo, pronto vamos a cruzar<br/>Puente viejo, pronto vamos a cruzar<br/>Por las vías oxidadas<br/>Y viajando hasta el final</p>
        <h4>06 - Mito De La Payada</h4>
            <p>Gaucho no puede decir vaca<br/>En una payada<br/>Después llegan los tiros<br/>Mucha guita en la mira<br/>Después llegan los tiros<br/>Mucha guita en la mira</p><p>Gaucho no puede decir vaca<br/>En una payada<br/>Después llegan los tiros<br/>Mucha guita en la mira<br/>Después llegan los tiros<br/>Mucha guita en la mira</p><p>La guerra de San Vicente<br/>Perón se revuelca en Agosto<br/>Y los gordos revientan<br/>Y los gordos revientan<br/>Y los gordos revientan<br/>Y los gordos revientan</p>
        <h4>07 - Blues Del Bar Espectral</h4>
            <p>Vieja esquina<br/>De ginebra, vino y café<br/>Aseguran<br/>Que se apoderaron de él<br/>En las noches<br/>Se escucha el piso crujir<br/>Carcajadas<br/>Y se juega el paño otra vez</p><p>Fantasmas van a brindar<br/>En este bar espectral<br/>En pueyrredón y fonrouge<br/>Hay un lugar especial</p><p>Fantasmas van a brindar<br/>En este bar espectral<br/>En pueyrredón y fonrouge<br/>Hay un lugar especial</p><p>Bar billares<br/>Bar billares<br/>Vieja esquina<br/>De ginebra, vino y café</p>
        <h4>08 - Blues De Las Vias</h4>
            <p>Las vías ardientes<br/>Vagones prohibidos<br/>Andenes extraños<br/>Rieles perdidos<br/>Trenes de mitos fantasmas<br/>Cruzan hoy el portal</p><p>Boletos ambiguos<br/>Paradas salvajes<br/>Leyendas antiguas<br/>Visiones fugaces<br/>Trenes de mitos fantasmas<br/>Cruzan hoy el portal</p>
        <h4>09 - Visiones Fugaces</h4>
            <p>[Instrumental]</p>
        <h4>10 - Un Mito Y Todos Los Mitos</h4>
            <p>Un mito<br/>Un mito<br/>Un mito es<br/>Todos los mitos</p><p>Un mito<br/>Un mito<br/>Un mito es<br/>Todos los mitos</p><p>Un mito es<br/>Un mito es<br/>El mito<br/>Y todos los mitos</p><p>Desde el principio<br/>Todo lo que fué<br/>Lo que existió<br/>Lo que amaneció<br/>Todo lo que ves<br/>Todos los que son<br/>Vinculándose<br/>Por la vibración<br/>Descendencia que<br/>Donará tu ser<br/>Energía que<br/>Ya se transformó</p><p>Un mito<br/>Un mito<br/>Un mito es<br/>Todos los mitos</p><p>Un mito<br/>Un mito<br/>Un mito es<br/>Todos los mitos</p><p>Un mito es<br/>Un mito es<br/>El mito<br/>Y todos los mitos</p>
    </div>
    <div class="col-md-4">
        <h4>01 - Fábula De La Suerte Y El Azar</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/VisionesYMitos/wav/F%C3%A1bula%20De%20La%20Suerte%20Y%20El%20Azar.wav" type="audio/wav">
            </audio>
        </p>
        <h4>02 - Águilas De Las Tres Edades</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/VisionesYMitos/wav/%C3%81guilas%20De%20Las%20Tres%20Edades.wav" type="audio/wav">
            </audio>
        </p>
        <h4>03 - Mientras Sus Alas Extienden, Las Aves Te Ven</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/VisionesYMitos/wav/Mientras%20Sus%20Alas%20Extienden%2C%20Las%20Aves%20Te%20Ven.wav" type="audio/wav">
            </audio>
        </p>
        <h4>04 - Mito De Los Fuegos De San Telmo</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/VisionesYMitos/wav/Mito%20De%20Los%20Fuegos%20De%20San%20Telmo.wav" type="audio/wav">
            </audio>
        </p>
        <h4>05 - Blues Del Puente Viejo</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/VisionesYMitos/wav/Blues%20Del%20Puente%20Viejo.wav" type="audio/wav">
            </audio>
        </p>
        <h4>06 - Mito De La Payada</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/VisionesYMitos/wav/Mito%20De%20La%20Payada.wav" type="audio/wav">
            </audio>
        </p>
        <h4>07 - Blues Del Bar Espectral</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/VisionesYMitos/wav/Blues%20Del%20Bar%20Espectral.wav" type="audio/wav">
            </audio>
        </p>
        <h4>08 - Blues De Las Vias</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/VisionesYMitos/wav/Blues%20De%20Las%20Vias.wav" type="audio/wav">
            </audio>
        </p>
        <h4>09 - Visiones Fugaces</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/VisionesYMitos/wav/Visiones%20Fugaces.wav" type="audio/wav">
            </audio>
        </p>
        <h4>10 - Un Mito Y Todos Los Mitos</h4>
        <p>
            <audio controls>
                <source src="https://matiasdieguez.azurewebsites.net/Data/VisionesYMitos/wav/Un%20Mito%20Y%20Todos%20Los%20Mitos.wav" type="audio/wav">
            </audio>
        </p>
    </div>
</div>
<br />
<div class="row" id="Album">
    <div class="col-md-4">
    </div>
</div>
<br />
@section Scripts
{
    <script src="~/js/music.js"></script>
}